<!DOCTYPE html>
<html>
<head>
	<title>Lumenaut Signer</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-base/0.7.6/stellar-base.min.js" integrity="sha256-oILOjlHv0c6JMDtqER8FV6/f2muvxVwU0U5WeRhHyFg=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>

	<div class="container">
		<div class="header">
			<span class="header-link">
				<a href="https://www.stellar.org/" class="header-stellar">lumenaut</a>
				<span class="header-separator"> </span>
				<a href="https://www.lumenaut.net/" class="header-subtitle">multi-sig co-ordinator</a>
			</span>
		</div>

		<div class="content-box" id="info-box">
			<p id="done-confirmation" style="display: none">Signature added successfully!</p>
			<div id="stat-info">
				<span id="num-transactions">Number of transactions:</span><br><br>
				<span id="current-signatures">Current signatures:</span>
			</div>
		</div>

		<div class="content-box" id="sign-box">
			<div id="instructions">
				<h2 class="header-subtitle" id="instructions-text">Inflation transaction signer</h2>
			</div>
			<div style="display:none" id="signer">
				<p id="key-prompt">Signing Key: </p>
				<p id="conf-msg" style="display: none">Failed</p>
				<input type="text" id="key_input" style="width:100%"><br><br>
				<button onclick="sign();" id="sign-btn">Sign and upload</button>
			</div>
		</div>
	</div>

	<script src="static/index.js"></script>
</body>
</html>
